<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/index.css">
    <script async defer src="/static/connector.js"></script>
    <title>Fan Club</title>

  <body>
    <h1>Fan Club</h1>
    <p>I love this topic</p>
    <img src="/static/atri.jfif" alt="Coffman PNG">
    <br>
    <form action="/fanClub" method="POST">
      <h1>Contact Me</h1>
      <label for = "postTitle"> Name of fan:</label> <br>
      <input name = "postTitle" id="postTitle" required>
  </form>
    <input type = "submit" id = "submit" value = "Submit" onclick="submitValue()">
    
  </body>

</html>